.square {
    -fx-border-style: solid;
}

.square{
    -fx-background-color: #bfcd41;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.square:hover{
    -fx-background-color: #921b1b;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.button:hover{
    -fx-background-color: #921b1b;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
